
/*Header + navbar*/
header{
    background-color: rgb(223, 22, 22);
    height: 7.188rem;
    width: auto;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    box-shadow: 0.625rem 0.313rem 0.313rem black;
    box-shadow: 0.625rem 0.313rem 0.313rem rgb(0, 0, 0, 0.5);
}

.navbar {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
    background-color: #333;
    overflow: hidden;
    width : 80rem;
    border-radius: 2.188rem;
    border: solid;
  }
  
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.263rem;
}
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
.navbar a.active {
    background-color: #a10a0ade;
    color: white;
}

/*Container pour catégorie*/

.categorie{
    background-color: rgba(206, 44, 44, 0.75);
    width : 75%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    color :white;
    border : solid;
    border-color: black;
    box-shadow: 0.625rem 0.313rem 0.313rem rgb(0, 0, 0, 0.5);
    margin-top: 4%;
    background: linear-gradient(-90deg,rgb(241, 38, 38), rgb(146, 41, 41) );
}

/*Bouton pour CV*/

.Voir_CV{
    background-color: rgb(180, 29, 29);
    color: white;
    padding: 0.313rem;
    width : 40%;
    font-size :1.5rem;
    border-radius: 1.563rem;
    text-decoration: none;
    display :flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
    margin-left: 15%;
    margin-top: 10%;
}

.pdf{
    width: 15%;
    height: 15%;
    padding-right: 5%;
}

.Voir_CV:hover{
    background-color: rgb(210, 0, 0) ;
    transform: scale(1.1);
    transition-duration: 0.3s;
    cursor: pointer;
}

/*Cards formation*/

.card_formation{
    background-color: rgb(180, 29, 29);
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width : auto;
    border-radius: 0.938rem;
    color: white;
    border : solid;
    border-color: black;
    margin-left: 2rem;
}

.nom_et_date{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.nom_et_date p{
    margin-top : -1.25rem;
}

.image_formation{
    width : 20rem;
    height: 20rem;
    border: solid;
}

.fleche{
    width: 5%;
}

.info_formation{
    display: flex;
    flex-direction: column;
}

h2{
    font-family: "Gravitas_One";
    font-size: 1.875rem;
}

.texte{

    font-size: 1.1rem;
    margin-left: 0.5rem;
}

/*Container projet*/

.container{
    color:white;
    background-color: rgb(180, 29, 29);
    width : 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1%;
    border-radius: 0.938rem;
    border: solid;
    border-color: black;
    margin-bottom: 1%;
}

.bouton_projet{
    background-color: rgb(220, 20, 20);
    font-size : 20px;
    color :white;
    margin-bottom: 1%;
    height: 2.813rem;
    width: 11%;
}

.bouton_projet:hover{
    background-color: rgb(235, 0, 0);
    cursor: pointer;
    border-color: goldenrod;
    transform: scale(1.1);
    transition-duration: 0.3s;
    cursor: pointer;
    
}

.projet{
    height: auto;
    display: flex;
    flex-direction: column; 
}

.show{
    display: block;
}

.hide{
    display: none;
}

.image_projets{
    width : 45%;
    height : 25%;
    border: solid;
    margin-left: 25% ;
}

.element{
    list-style-type: square;
    font-family: "Oleo_Script";
    font-size: 1.25rem;
}

/*Container expérience pro*/

/*Cards compétences*/

.cards_competence{
    color:white;
    background-color: rgb(214, 46, 46);
    width : 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    border-radius: 0.938rem;
    text-align: center;
    border: solid;
    border-color: black;
    margin-bottom: 3%;
}

/*Cards Hardskills + softskills*/

.cards_skills{
    color:white;
    background-color: rgb(158, 13, 13);
    width : 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    border-radius: 0.938rem;
    text-align: center;
    padding-bottom: 2%;
    border: solid;
    border-color: black;
    margin-bottom: 5%;
}

.image_outils{
    width: 20%;
    border-radius: 50%;
    border: solid;
    border-color: goldenrod;

}

.outils{
    width : 60%;
    display: flex;
    justify-content: space-around;
}

/*card centre d'intêret*/

.image_interet {
    width : 20rem;
    height: 20rem;
    border: solid;
}

.card_interet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 23rem;
    height: auto;
}

.ensemble_cards_interet{
    display: flex;
    justify-content: space-around;
}
/*Footer*/

footer{
    color: white;
    background-color: rgb(223, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-color: black;
    box-shadow: 0.625rem 0.313rem 0.313rem black;
    box-shadow: 0.625rem 0.313rem 0.313rem rgb(0, 0, 0, 0.5);
    padding : 1.25rem;
    margin-top: 5rem;
    width: auto;
    
}

.shortcut_contact{
    font-weight: bold;
    font-size: 1.563rem;
    padding: 0.3rem;
    text-decoration: none;
    color : white;
    border: solid;
    background-color: rgb(0, 0, 0, 0.5);
}

.shortcut_contact:hover{
    color: rgb(220, 220, 220);
    transform: scale(1.1);
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

/*Propriétés rajoutées dans l'index*/

.mon_image{
    width: 25%;
    border-radius: 100%;
    border: solid;
    margin-right: 1%;
}

.photo_et_info{
    display: flex;
    align-items: center;
}

.haut_premiere_categorie{
    display: flex;
}

p{
    font-family: "Alkatra";
    font-size: 1.25rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Gravitas_One";
    font-size: 2.5rem;
}

h3{
    font-family: "Gravitas_One";
    font-size: 1.688rem;
}

.agencement_cards{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}

.agencement_cards_verticale{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

body{
    background: linear-gradient(-90deg,rgb(0, 0, 0), rgb(122, 121, 121) );
}

html{
    scroll-behavior: smooth;
}

h4{
    font-family: "Gravitas_One";
    font-size: 1.25rem;
}

@font-face{
    font-family: "Gravitas_One";
    src : url("Gravitas_One/GravitasOne-Regular.ttf")
}

@font-face{
    font-family: "Alkatra";
    src : url("Alkatra/Alkatra/Alkatra-VariableFont_wght.ttf")
}

@font-face{
    font-family: "Oleo_Script";
    src : url("Oleo_Script/OleoScript-Regular.ttf")
}

a{
    font-family: "Oleo_Script";
}

button{
    font-family: "Oleo_Script";
}